* {
    font-family: sans-serif;
    font-size: 14px;
}

:root {
    --tg-theme-text-color: #ffffff;
    --tg-theme-bg-color: #000000;
    --tg-theme-header-bg-color: rgb(255, 255, 255);
    --tg-theme-secondary_bg_color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'Super Frog';
    src: url('../SuperFrog.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Super Woobly';
    src: url('../MangKenapa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Example usage */
body, input, button {
    font-family: 'Super Frog';
}

html, body {
    background-color: #00000000;
    overflow: hidden;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #00000000;
}

div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#split {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: none;
}

#feed {
    position: absolute;
    top: 50px;
    left: 90px;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: none;
}

#status {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 16.1px;
    top: 50px;
    right: 10px;
    font-weight: bold;
    text-align: center;
}

#status .title {
    font-size: 25px;
}

#status .me {
    color: #FF8888;
    font-size: 16.1px;
}

.chatbox {
    position: absolute;
    width: 300px;
    height: 320px;
    background: rgba(22, 22, 22, 0.7);
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
}

.chatbox .chat-list {
    padding: 5px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 285px;
    overflow: hidden;
}

.chatbox .chat-list li {
    padding: 2px;
    margin: 3px;
}

.chatbox .chat-list li.me b {
    color: #ea6153;
}

.chatbox .chat-list li.friend b {
    color: #2ecc71;
}

.chatbox .chat-list li.system {
    color: #9b59b6;
    font-style: italic;
}

.chatbox .chat-list li.system:before {
    content: "» ";
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
}

#startMenu {
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.114);
    box-sizing: border-box;
    color: #000000;
}



#startMenu p {
    padding: 0;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#playerNameInput {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

#playerNameInput:focus, #playerNameInput.focus {
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 3px 1px #DDDDDD;
}

#startButton {
    position: relative;
    margin: auto;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#howToPlayButton {
    position: relative;
    margin: auto;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#retrieveDataButton {
    position: relative;
    margin: auto;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#retrieveDataButton:active,
#retrieveDataButton:hover,
#howToPlayButton:active,
#howToPlayButton:hover,
#startButton:active,
#startButton:hover{
    top: 1px;
    background: #55D88B;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#startMenuWrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    position: relative;
    z-index: 2;
    overflow: hidden;
}

#startMenu h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#startMenu ul {
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

#startMenu .input-error {
    color: red;
    opacity: 0;
    font-size: 12px;
}

#startMenuWrapper {
    z-index: 2;
}

#gameAreaWrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}

@media only screen and (min-width: 1224px) {
    #mobile {
        display: none;
    }
}

@media only screen and (max-width: 1224px) {
    #chatbox {
        display: none;
    }

    #split, #feed {
        display: block; /* Ensure split and feed buttons are visible */
        position: absolute;
        width: 80px; /* Adjust size as needed */
        height: 80px; /* Adjust size as needed */
        padding: 5px;
    }

    #split {
        bottom: 10px;
        left: 10px;
    }

    #feed {
        bottom: 10px;
        right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 12px; /* Smaller font size for small screens */
    }

    #startMenu {
        width: 90%; /* Adjust width for smaller screens */
    }

    #playerNameInput {
        font-size: 12px; /* Smaller input font size */
    }

    #startButton {
        width: 100%; /* Adjust button width for smaller screens */
        height: 45px; /* Adjust button height */
    }

    #howToPlayButton {
    width: 100%; /* Adjust button width for smaller screens */
    height: 45px; /* Adjust button height */
}

    #retrieveDataButton {
        width: 100%; /* Adjust button width for smaller screens */
        height: 45px; /* Adjust button height */
    }

    #status {
        font-size: 14px; /* Smaller font size for status */
        top: 50px; /* Adjust position */
        right: 5px; /* Adjust position */
    }

    .chatbox {
        width: 90%; /* Adjust chatbox width */
        height: auto; /* Allow height to adjust */
    }

    #split, #feed {
        width: 70px; /* Adjust size as needed */
        height: 70px; /* Adjust size as needed */
    }
}

input[type="image"]:focus {
    border: none;
    outline: 1px solid transparent;
    border-style: none;
}

*:focus {
    outline: 1px solid transparent;
    border-style: none;
}

/* Modal styles */
.modal {
    color: #1c1c1c;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.504); /* Black w/ opacity */
    align-content: center;
}

.modal-content {
    background-color: #ffffffee;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-hidden {
    display: none;
}

.modal-visible {
    display: block;
}